@font-face {
    font-family: "HeaderFont";
    src: local("HeaderFont"), url(../font/kaushan-script/KaushanScript-Regular.otf) format('opentype');
}

.parent{
    display: flex;
    background-color: #f2f1ef;
}

.nav{
    font-family: 'HeaderFont';
    text-align: center;
    padding: 5%;
    padding-right: 10%;
    /*margin-left: 5%;
    margin-right: 5%;*/
}

.pages{
    flex-grow: 2;
}

ul.navul{
    list-style-type: none;
    padding: 20%;
}  

li.navlist{
    font-size: large;
    font-weight: bold;
    padding-top: 30%;
    padding-bottom: 30%;
}